.patterns {
    width: 98%;
    height: 600px;
    min-width: 200px;
    float: left;
    margin: 10px;
    box-shadow: 0 1px 8px #666;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pt25 {
    background-color: black;
    background-image: -webkit-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -webkit-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -webkit-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -webkit-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: -moz-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -moz-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -moz-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -moz-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: -ms-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -ms-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -ms-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -ms-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: -o-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -o-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -o-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -o-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-position: 0 0px, 40px 60px, 130px 270px, 70px 100px;
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
}
 h1{
    color: white;
    align-items: center;
 }
 p{
    color: white;
 }
 .flexer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 button{
    background-color: black;
color: white;
    border: solid 1px white;
 }
 button:hover{
   background-color: white;
   color: black;
   height: 40px;
   transition: 1s;
   cursor: pointer;
   box-shadow: 0 1px 8px #666;
       border: solid 1px white;
 }